@page "/"
@page "/notes"

<style>
.input-field2 {
    width: 100%;
    height: 100px;
}
</style>

<PageTitle>Записи</PageTitle>
<EditForm Model="@noteDate"  OnSubmit="@(async () => await RefreshNotes())">
    <InputDate id="date" @bind-Value="noteDate.Value"/>
    <button type="submit">Поиск</button>
</EditForm>
<h1>Записи</h1>

@if (notes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Текст</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var note in notes)
        {
            <tr>
                <td>@note.Date</td>
                <td>@note.Text</td>
                <button @onclick="() => OnClick(note.Id)">Редактировать запись</button>
                <button @onclick="() => Delete(note.Id)">Удалить запись</button>
            </tr>
        }
        </tbody>
    </table>
}
<EditForm Model="@note" OnSubmit="@(async () => await Submit())" >
    <p>
        Запись:<br />
        <InputText id="name" @bind-Value="note.Text" class="input-field2"/>
    </p>
    <button type="submit">Добавить запись</button>
</EditForm>